<div class="container">
  <div class="row">
    <h1 class="col-md-6 col-12-padding">
      Employee Portal
    </h1>
    <div class="col-md-6 col-12-padding">
      <button
        type="button"
        (click)="createEmployee()"
        class="float-right btn add-new-btn"
      >
        Create
      </button>
    </div>
    <div>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">Gender</th>
            <th scope="col">Date Of Birth</th>
            <th scope="col">Department</th>
         </tr>
        </thead>
        <tbody>
          <tr *ngFor="let employee of employeesList">
            <th scope="row"></th>
            <td>{{employee.firstName}}</td>
            <td>{{employee.lastName}}</td>
            <td>{{employee.gender}}</td>
            <td>{{employee.dateOfBirth | date:"mediumDate" }}</td>
            <td>{{employee.department.depName}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>