<div class="addDetail-container col-md-12">
  <form (ngSubmit)="onSubmit(formValue)" #formValue="ngForm" class="col-md-12">
    <div class="row">
      
        <label for="firstName">First Name</label>
        <div class="form-group col-md-12">
        <input ngModel
          #firstName="ngModel"
          name="firstName"
          type="text"
          class="form-control"
          id="fname"
          placeholder="" />
      </div>

        <label for="lastName">Last Name</label>
        <div class="form-group col-md-12">
        <input ngModel
          #lastName="ngModel"
          name="lastName"
          type="text"
          class="form-control"
          id="lname"
          placeholder="" />
      </div>

        <label for="gender">Gender</label>
        <div class="form-group col-md-12">
        <select ngModel
          #gender="ngModel"
          name="gender"
          id="gender"
          class="form-control"
          >
          <option ngValue="MALE">Male</option>
          <option ngValue="FEMALE">FeMale</option>
        </select>
      </div>


      
        <label for="dateOfBirth">Date Of Birth</label>
        <div class="form-group col-md-12">
        <input ngModel
          #dateOfBirth="ngModel"
          name="dateOfBirth"
          type="date"
          class="form-control"
          id="dateOfBirth"
          placeholder="" />
      </div>
        <label for="department">Department</label>
        <div class="form-group col-md-12">
        <input ngModel
          #department="ngModel"
          name="department"
          type="text"
          class="form-control"
          id="department"
          placeholder="" />
      </div>

      <div class="form-group col-md-12">
        <button type="submit" class="btn btn-primary">
          Add Employee
        </button>
        <button
        type="button" class="btn btn-secondary"
        (click)="navigateTOEmployee()"
      >Cancel</button>
      </div>
    </div>
  </form>
</div>
